* {
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(to right top, #edfff9, #dcfff5, #cbfff1, #b7ffee, #a2ffeb, #9afeec, #92feee, #89fdf0, #90fcf4, #98faf7, #a0f9fa, #a9f7fb);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 62.5%;
    letter-spacing: 0.1rem;
    min-height: 100%;
}

body {
    width: 100vw;
}