//Colors
$blue: #a9f7fb;
$red: #ff6666;
$off-white: #edfff9;

//Font Size
$xs-size: 1rem;
$s-size: 1.6rem;
$m-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;
$xxxl-size: 8.4rem;
$xxxxl-size: 10rem;
$jumbo-size: 20rem;
$xjumbo-size: 40rem;

//Media Query Dimensions
$tablet: 760px;
$desktop: 1025px;
